
@font-face {
  font-family: "Vazirmatn";
  src: url("../public/font/Vazirmatn-Regular.eot");
  src: url("../public/font/Vazirmatn-Regular.ttf") format("embedded-opentype"),
    url("../public/font/Vazirmatn-Regular.woff2") format("woff2"),
    url("../public/font/Vazirmatn-Regular.woff") format("woff"),
    url("../public/font/Vazirmatn-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Vazirmatn", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

